.container{
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
}
.nav__img{
    width: 300px;
}

button{
    background-color: rgb(191, 0, 255);
    border: 0px;
    margin-left: 12px;
    padding: 12px;
    border-radius: 12px;
    font-size: 15px;
    color: white;
    font-weight: 700;
    transition: all 300ms ease;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: (0.8);

}
.Logged__in{
    border-radius: 50%;
}
.skeleton__btn{
    background-color: gray;
    padding: 12px;
    color: gray;
}